/* Default (light mode) */
body {
  background: #f0f0f0;
  color: #000;
}

/* Dark mode class */
body.dark-mode {
  background: #1e1e1e;
  color: #fff;
}

body.dark-mode header {
  background-color: #111;
  color: white;
}

body.dark-mode .dial {
  background: #333;
  color: white;
}

body.dark-mode .result {
  background: #222;
  color: white;
  box-shadow: 0 -2px 10px rgba(255, 255, 255, 0.2);
}

body.dark-mode button {
  color: white;
  background-color: #333;
}

body.dark-mode .scroll-item.selected {
  color: #ffeb3b;
}
